@using CLL
@model BDO.DataAccessObjects.SecurityModule.owin_userEntity
@inject CLL.Localization.LocalizeService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD");
}


@*https://stackoverflow.com/questions/5474460/get-displayname-attribute-of-a-property-in-strongly-typed-way*@

<div class="row">
    <div class="col col-md-12">
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-md-center h-100">
                    <div class="card-wrapper">
                        <div class="brand">
                            <img src="~/img/logo.jpg" alt="logo">
                        </div>
                        <div class="card fat">
                            <div class="card-body">
                                <h4 class="card-title">Login</h4>
                                <form method="POST" id="frmresetpassword" class="" novalidate="">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.emailaddress, htmlAttributes: new { @class = "labelNormal requiredmarkup ", @requiredmarkup = "" })
                                        <input id="emailaddress" type="email" class="form-control" name="emailaddress" value="" required autofocus>
                                        @Html.ValidationMessageFor(model => model.emailaddress, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.newpassword, htmlAttributes: new { @class = "labelNormal requiredmarkup " })
                                        <input id="newpassword" type="password" class="form-control" name="newpassword" value="" required autofocus>
                                        @Html.ValidationMessageFor(model => model.newpassword, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.confirmpassword, htmlAttributes: new { @class = "labelNormal requiredmarkup " })
                                        <input id="confirmpassword" type="password" class="form-control" name="confirmpassword" value="" required autofocus>
                                        @Html.ValidationMessageFor(model => model.confirmpassword, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group m-0">
                                        <button type="submit" id="btnresetpassword" class="btn btn-primary btn-block">
                                            <i class="fa fa-save"> </i>
                                            @SharedLocalizer.GetLocalizedHtmlString("SUBMIT_REQUEST")
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @if (Model.ExternalProviders.Any())
    {
        <div class="col col-md-6">
            <div class="panel-body">
                <ul class="list-inline">
                    @foreach (var provider in Model.ExternalProviders)
                    {
                        <li>
                            <a class="btn btn-primary"
                               asp-action="ExternalLogin"
                               asp-route-provider="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                @provider.DisplayName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
