@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
<!DOCTYPE html>
@{
}
<html lang="en" dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"]</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">
    @{
        if (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft)
        {
            <link rel="stylesheet" href="~/css/vendor.rtl.min.css" asp-append-version="true" />
        }
        else
        {
            <link rel="stylesheet" href="~/css/vendor.min.css" asp-append-version="true" />
        }
    }
    <link rel="stylesheet" href="~/css/vendor-datatables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom-app-lib.min.css" asp-append-version="true" />
    <link href="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        @{
            var tokenSet = antiforgery.GetAndStoreTokens(Context);
        }
        <input hidden id="@tokenSet.HeaderName" value="@tokenSet.RequestToken" />
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="~/lib/admin-lte/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>


        @await Component.InvokeAsync("Header", new { headertag = "headertag" })
        <!-- Main Sidebar Container -->
        <!-- Sidebar Menu -->
        @await Component.InvokeAsync("SideBarMenu", new { headertag = "headertag" })
        <!-- /.sidebar-menu -->
        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">
            @await Component.InvokeAsync("BreadCrumbs", new { headertag = "headertag" })
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <main role="main" class="pb-3" id="maincontainer">
                        @RenderBody()
                    </main>
                    <!-- /.row -->
                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>


        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        @await Component.InvokeAsync("Footer", new { headertag = "headertag" })
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>



    <script src="~/js/vendor.min.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
    @*<script src="~/lib/admin-lte/js/adminlte.js"></script> style="width:98%!important"*@
    <script src="~/js/vendor-validation.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor-datatables.min.js" asp-append-version="true"></script>
    <script src="~/js/custom-app-lib.min.js" asp-append-version="true"></script>
    <script src="~/lib/customjs/datatableproxy.js"></script>
    <div id="modal-common-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-common-content">
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {

        });
    </script>
</body>
</html>
